.sidebar {
    position: absolute;
    top: 90px;
    left: 0;
    /* height: 500px; */
    width: 300px;
    background-color: #fff;
    z-index: 1;
}

.sidebar-menu {
    position: relative;
}
.sidebar-menu-item {
    display: flex;
    align-items: center;
    place-content: flex-start;
    padding: 1rem 3rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: #555555;
    transition: color 0.3s ease-in-out;
}
.sidebar-active {
    background-color: #FEA116;
    color: #fff;
    width: calc(100% - 40px);
    border-radius: 10px;
}
.sidebar-menu-item-icon {
    margin-right: 1rem;
}

i {
    font-size: 1.75rem;
}
